
.title,
.title_dwo
{
    font-size: 1.6em;
    font-weight: bold;
    align-items: center;
    color: var(--verde_800);
}

.title_dwo
{
    color: var(--vermelho_800);
}

/* Responsividade */

@media screen and (max-width: 1023px) 
{
    /* Estilos para telas menores ou iguais a 1023px */

    .title,
    .title_dwo{
        font-size: 1.1em;

    }
}