
.footer
{
    width: 100%;
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;

    background: var(--azul_800);

}

.text
{
    /* border: 1px solid red; */

    padding:  0.4em;
}

.text_one,
.text_two,
.icone
{
    font-size: 1em;
}

.text_two,
.icone
{
    color: var(--verde_800);
}

.list_social
{
    display: flex;

    gap: 8px;
}

.icone
{
    cursor: pointer;
}